<div class="sidebar">
  <div class="container sidebar-sticky">
    <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}public/typelevel-scala-logo.svg" style="width:100%;"/></a>

    <nav class="sidebar-nav">
      {% include site_nav.html page=page %}
    </nav>

    <p class="legal">
      &copy; 2014 - {{ site.time | date: '%Y' }}
      <a href="http://typelevel.org/scala/">Typelevel Scala</a><br/>
      License: <a href="https://github.com/scala/scala/blob/2.12.x/doc/LICENSE.md">Scala License</a><br/>
      <!--Theme: <a href="https://github.com/poole/hyde">Hyde</a><br/>-->
      Code of Conduct: <a href="http://typelevel.org/conduct.html">Typelevel</a>
    </p>
  </div>
</div>
